body {
    background: black;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-bg {
    background: url('images/almaty-glacier.jpg') no-repeat center center/cover;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 12%;
    top: 0;
    z-index: 1000;
}
.navbar-logo {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    margin-left: 40px;
    width: 230px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 10px 24px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.2);
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-links li a:hover {
    color: #00ff7f;
}
.auth-buttons {
    justify-content: center;
    display: flex;
    width: 270px;
    gap: 15px;
}
.auth-buttons button {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: transform 0.2s;
    border-radius: 24px;
}
.auth-buttons button:hover {
    transform: scale(1.05);
}
.hero {
    padding: 120px 20px 200px;
    overflow: hidden;
    height: 80%;
}
.hero h1 {
    font-size: 3em;
    font-weight: bold;
}
.hero p {
    margin-bottom: 48px;
}
.chat-box {
    width: 800px;
    height: 288px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
}

.user {
    background-color: rgba(0, 255, 127, 0.5);
    align-self: flex-end;
    text-align: right;
}

.ai {
    background-color: rgba(255, 255, 255, 0.2);
    align-self: flex-start;
    text-align: left;
}

.chat-input-container {
    display: flex;
    height: 99%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(80, 80, 80);
    outline: none;
    box-sizing: border-box;
    border-radius: 8px;
}
.chat-input {
    flex: 1;
    width: 100%;
    padding: 12px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    resize: none;
}
.chat-input:focus {
    outline: none;
}
.chat-send {
    width: 50px;
}
.send-button {
    position: relative;
    top: 12px;
    right: 10%;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}